.bg-img{
    background-image: url("R.jpg");
    color: aliceblue;
    background-attachment: fixed;
    height: 100vh;
}
header{
    padding: 1rem;
}
.navbar{
    position: sticky;
}
.hero{
    padding-top: 30vh;
}
.hidden{
    position: absolute;
    padding-top: 30%;
    width: 100%;
    height: 100%;
    bottom: 0;
    text-decoration: none;
    color: black;
    right: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    transition: ease .7s;
}
.hover:hover .hidden{
    opacity: 50%;
}

.blog-section,.news-section,.events-section,.jobs-section{
    padding-top: 20px;
}

.btn{
    position: relative;
    padding: 6px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 116px;
}

.more{
    width: 100%;
    text-align: center;
    color: black;
    border: none;
    transition: ease .3s;
    background: none;
}
.fa-angle-down{
    transition: ease .5s;
}
.rotate{
    transform: rotateZ(180deg);
}
.more:hover{
    background-color: rgba(0, 0, 0, 0.115);
}